<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />

		<title>Eat Da Burger!</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="page-header">
  					EAT DA BURGER!
				</div>
			</div>
		</div>
		
		{{{ body }}}
		
	</div>
</body>
</html>